{
    "_README_": [

        "Download cergentials file from google developer service",
        "It must contains data such as below"
    ],


    "installed": {
        "client_id": "938050196111-6vismpb88iuu01ekplck95jjco4hqg13.apps.googleusercontent.com",
        "project_id": "screamingfrog-1538744313036",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://www.googleapis.com/oauth2/v3/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_secret": "1y7WH442mUqF4EvlvnxuwwW6",
        "redirect_uris": [
            "urn:ietf:wg:oauth:2.0:oob",
            "http://localhost"
        ]
    }
}