<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<style>
    pre {
        max-height: 400px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        overflow-x:hidden;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
    input, select  {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: auto;
        min-width: 100px;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=checkbox] {
        width: auto;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<body>

<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <h3 class="display-1">{{ title }}</h3>

                <div class="container">
                    <v-form
                        v-model="formValid"
                        ref="form"
                    >
                        <v-text-field
                            v-model="form.link"
                            label="Site address"
                            :rules="linkRules"
                            required
                        ></v-text-field>

                        <v-text-field
                            v-model="form.email"
                            :rules="emailRules"
                            label="E-mail"
                            required
                        ></v-text-field>

                        <v-select
                            v-model="form.outputFormat"
                            :items="formats"
                            :rules="[v => !!v || 'Format is required']"
                            label="Report format"
                            required
                        ></v-select>

                        <v-switch v-model="form.logs" class="ma-4" label="Show output"></v-switch>

                        <v-btn
                            :disabled="!formValid"
                            color="success"
                            class="mr-4"
                            @click="validate"
                        >
                            Run
                        </v-btn>

                    </v-form>

                    <v-col>
                        <v-row justify="space-around">

                            <v-btn @click="status">Check status</v-btn>
                            <v-btn @click="monitoring" >Monitoring</v-btn>
                            <v-btn @click="clear_log">Clear logs</v-btn>

                        </v-row>
                    </v-col>

                    <div id="result"><pre ref="result">{{ console }}</pre></div>
                </div>
            </v-container>
        </v-content>
    </v-app>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            title: "Screaming Frog Launcher",
            form: {
                link: "",
                email: "",
                outputFormat : "csv",
                logs: false
            },
            formats: [ "csv", "xls" ],
            formValid: false,

            linkRules : [
                v => !!v || 'Site address is required',
                v => /^((https?):\/\/)?([w|W]{3}\.)+[a-zA-Z0-9\-\.]{3,}\.[a-zA-Z]{2,}(\.[a-zA-Z]{2,})?$/.test(v) || 'Site address must be valid',
                // v => /^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$/.test(v) || 'Site address must be valid',
            ],

            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],

            console: "",
            monitioringRun: false
        }),
        methods : {
            submit () {
                console.log( this.form );
                // axios.post( 'index.php' ).then(
                //     response => {
                //
                //     }
                // );
            },
            validate () {
                if (this.$refs.form.validate()) {
                    this.submit();
                }
            },
            monitoring () {
                this.monitoringRun = !this.monitoringRun;
                const self = this;
                if ( this.monitoringRun ) {
                    self.interval = setInterval(function() {
                        self.status();
                    }, 1000);
                } else {
                    clearInterval( self.interval );
                }
            },
            status () {
                axios.get( 'check_status.php' ).then(
                    response => {
                        if ( response.data ) {
                            this.console += response.data + "\n";
                            var container = this.$refs.result;
                            container.scrollTop = container.scrollHeight;
                        }
                    }
                );
            },
            clear_log () {
                this.console = "";
            }
        }
    })
</script>
</html>
